WebServices/WebContent/personnes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="personnes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="personne" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:integer" name="id_pers"/>
							<xs:element type="xs:string" name="mdp_pers"/>
							<xs:element type="xs:string" name="nom_pers"/>
							<xs:element type="xs:string" name="prenom_pers"/>
							<xs:element type="xs:integer" name="age"/>
							<xs:element type="xs:string" name="mail_pers"/>
							<xs:element name="candidatures">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="candidature">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="nom_event"/>
													<xs:element type="xs:date" name="date_debut"/>
													<xs:element type="xs:date" name="date_fin"/>
													<xs:element type="xs:string" name="etat"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>