WebServices/WebContent/WEB-INF/bdd/associations.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="string_mail">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^@]+@[^\.]+\..+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_SIREN">
		<xs:restriction base="xs:string">
			<xs:maxLength value = "9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_mdp">
		<xs:restriction base="xs:string">
			<xs:minLength value = "8" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="associations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="association">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="identifiants">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="string_SIREN" name="SIREN"/>
										<xs:element type="xs:string" name="nom_asso"/>
										<xs:element type="string_mail" name="mail_asso"/>
										<xs:element type="string_mdp" name="mdp_asso"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="evenements">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="evenement" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:integer" name="id_event"/>
													<xs:element type="xs:string" name="nom_event"/>
													<xs:element type="xs:date" name="date_debut"/>
													<xs:element type="xs:date" name="date_fin"/>
													<xs:element type="xs:string" name="description_event"/>
													<xs:element name="candidatures">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="candidature" maxOccurs="unbounded" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:integer" name="id_pers"/>
																			<xs:element type="xs:string" name="nom_pers"/>
																			<xs:element type="xs:string" name="prenom_pers"/>
																			<xs:element type="xs:string" name="motivation"/>
																			<xs:element type="string_mail" name="mail_pers"/>
																			<xs:element type="xs:string" name="etat"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>